<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EE Survey</title>
    <script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/main.js"></script>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
  </head>
  <body>
    <script>
      window.INFORMAL = <%= informal? "true": "false" %>;
      window.TRIAL = <%= trial %>;
    </script>
    <% if(!informal) { %>
      <% include ../partials/navbar %>
    <% } %>
    <section class="survey <%= trial === 0? 'hide': '' %>">
      <p class="survey--title">
        <% if(informal) { %>
          Think hard... Which audio sample sounds more like classical music?
        <% } else { %>
          Please choose the audio clip that sounds most similar to classical music. 
        <% } %>
      </p>
      <p class="survey--subtitle" id="trial-count">
        <% if(!informal) { %>
          <% if(trial >= 10) { %>
              Thank you for your participation! Your responses are recorded, but you may submit more if you would like.
            <% } else { %>
              <%= trial %> / 10 complete
          <% } %>
        <% } else { %>
          <% if (trial >= 2) { %>
            <%= trial %> <%= trial >= 3? "cool points": "" %>
          <% } %>
        <% } %>
      </p>
      <% samples.forEach((sample, i) => { %>
        <div class="panel--container">
          <audio controls>
            <source src="<%= sample.url %>">
          </audio>
          <div class="panel"> 
            <% if(informal) { %>
              <%= i === 0? "This One...": "No... This One" %>
            <% } else { %>
              <%= i === 0? "A": "B" %>
            <% } %>
            <form class="hidden" method="POST" action="/vote">
              <input name="name" value="<%= sample.name %>">
              <input name="other" value="<%= samples.map(sample => sample.name).filter(name => name !== sample.name).join(",") %>">
            </form>
          </div>
        </div>
      <% }) %>
    </section>
    <div id="chat"></div>
  </body>
</html>
